.about{
    background-color: rgb(247, 213, 119);
    font-family: sans-serif;
 }
 .about-info{
   text-align: center;
 }
 .about-info img {
   flex-basis: 80%;
   align-items: flex-start;
   height: 200px;
   width: 200px;
 
 }
 .about-info h1{
   
   color: rgb(207, 160, 99);
   font-family:cursive;
   font-display:initial ;
   font-size: 3.5em;
   font-weight: bold;
 
 }
 .about-info h1 span{
   text-decoration:underline;
   color: rgb(206, 157, 93);
 }
 .about-info{
   text-align: center;
   font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
   font-weight:bold;
   font: size 300px;;
   color: rgb(160, 97, 14);
 
 }
 
 .contact h1{
   
   color: rgb(207, 160, 99);
   font-family:cursive;
   font-display:initial ;
   font-size: 3.5em;
   font-weight: bold;
 
 }
 .contact h1 span{
   text-decoration:underline;
   color: rgb(206, 157, 93)  ;
 }
 .contact .row{
   display: flex;
   flex-wrap: wrap-reverse;
   gap:1.2rem;
   align-items: center;
 }
 
 .contact .row form{
   flex:1 1 45rem;
   padding:1rem 1.7rem;
   box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
   border:.1rem solid rgba(0,0,0,.1);
   background: #fff;
   border-radius: .5rem;
 }
 
 .contact .row .image{
   flex:1 1 28rem;
 }
 
 .contact .row .image img{
   width: 100%;
 }
 
 .contact .row form .box{
   padding:1rem;
   font-size: 1.4rem;
   color:#333;
   text-transform: none;
   border:.1rem solid rgba(0,0,0,.1);
   border-radius: .5rem;
   margin:.5rem 0;
   width: 100%;
 }
 
 .contact .row form .box:focus{
   border-color: var(--pink);
 }
 
 .contact .row form textarea{
   height: 4rem;
   resize: none;
 }
 .contact button{
 width: 50%;
   padding:11px;
   font-size: 15px;
   border-radius: .5rem;
   background: rgb(247, 213, 119);
   color:black;
   margin-top: 5px;
   cursor: pointer;
 
 }
 
 .contact button:hover{
   background:  rgb(253, 225, 146);
 }
 
  
 .footer {
   text-align: center;
 }
 
 .footer .logo {
   text-align: right;
   font-size: 2rem;
   color: #512a10;
   font-weight: bold;
 }
 
 .footer .credit {
   text-align: end;
   margin: 1rem 0;
   font-size: 1rem;
   text-transform: capitalize;
   color: #222;
 }
 
 .footer .credit span {
   text-align: left;
   text-decoration: underline !important;
 }
 
 .footer .share {
   margin-top: 3rem;
 }
 
 .footer .share a {
   height: 3rem;
   width: 3rem;
   line-height: 3rem;
   font-size: 2rem;
   border: 0.1rem solid #512a10;
   color: #512a10 ;
   margin: 0 .3rem;
 }
 
 .footer .share a:hover {
   background:#512a10 ;
   color: white; 
 }  