*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
html{
  scroll-behavior:smooth;
}

header{
  width: 100%;
  height: 40vh;
}
nav{
 
  width: 100%;
  height: 70px;
  
  border: 2px ;
  border-bottom: 1px sienna;
  box-shadow: 2px 0px 5px saddlebrown;
  display: flex;
  justify-content: space-around;
  align-items: center;
 
   
  position: sticky;
  top: 0;
}

.logo{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:30px;
  font-weight: bold;
  
}
.menu a{
  
  text-decoration: none;
  font-size: 20px;
  color: burlywood;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
}
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform-origin: center;
  perspective: 200px;
}
.left{
  position: static;
  flex-basis: 50%;
  animation:animate 3s linear infinite;
}
@keyframes animate{
  0%{
    transform: scale(1.1);
  }
    50%{
      transform: scale(1);
  }
    100%{
      transform: scale(1.1);
    }
}
.right{
  flex-basis: 80%;
  max-width: 400px;
  margin-left:100px;
  
}
.right h1 {
  font-family:Bradley Hand ITC;
  font-weight:bolder  ;
  margin: 20px 0px;
}
.right p {
  font-family:Avanta Garde;
  font-size:20px;
  margin: 20px 0px;

}
.right button{
  background-color:black  ;
  color:  white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 20px;
  border: none;
  outline: none;
  padding:10px 20px  ;
  margin-bottom: 20px;
  cursor: pointer;
}
.right button:hover {
  background-color:burlywood;
  color:black;
}

.heading{
  
  
  text-align: center;
  font-size: 30px;
  font-family:Helvetica;
  color:  rgb(224, 179, 120);
  text-decoration:currentColor;
}
 
.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
}

.products .box-container .box{
  flex:1 1 30rem;
  box-shadow: 0 .4rem 1.5rem rgba(179, 155, 124, 0.226);
  border-radius: .5rem;
  border:.1rem solid rgba(212, 173, 88, 0.082);
  position: relative;    
}

.products .box-container .box .discount{
  position: absolute;
  top:1rem; left:1rem;
  padding:.7rem 1rem;
  font-size: 2rem;
  color:rgb(177, 129, 67);
  background:rgba(139, 69, 19, 0.185);
  z-index: 1;
  border-radius: .5rem;
}

.products .box-container .box .image{
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow:hidden;
}

.products .box-container .box .image img{
  height:20rem;
  width: 18rem;
}

.products .box-container .box:hover .image img{
  transform: scale(1.1);
}

.products .box-container .box .image .icons{
  position: absolute;
  bottom:-7rem; left:0; right:0;
  display: flex;
}

.products .box-container .box:hover .image .icons{
  bottom:0;
}

.products .box-container .box .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width:50%;
  background:var(--pink);
  color:#fff;
}

.products .box-container .box .image .icons .cart-btn{
  box-align:top;
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width:100%;
}

.products .box-container .box .image .icons a:hover{
  background: rgba(139, 69, 19, 0.185);
}

.products .box-container .box .content{
  padding:2rem;
  text-align: center;
}

.products .box-container .box .content h3{
  font-size: 2.5rem;
  color:rgb(141, 86, 23);
}

.products .box-container .box .content .price{
  font-size: 2.5rem;
  color:var(--pink);
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span{
  font-size: 1.5rem;
  color:rgb(221, 193, 155);
  font-weight: lighter;
  text-decoration: line-through;
}

.about{
   background-color: rgb(247, 213, 119);
   font-family: sans-serif;
}
.about-info{
  text-align: center;
}
.about-info img {
  flex-basis: 80%;
  align-items: flex-start;
  height: 200px;
  width: 200px;

}
.about-info h1{
  
  color: rgb(207, 160, 99);
  font-family:cursive;
  font-display:initial ;
  font-size: 3.5em;
  font-weight: bold;

}
.about-info h1 span{
  text-decoration:underline;
  color: rgb(206, 157, 93);
}
.about-info{
  text-align: center;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
  font-weight:bold;
  font: size 300px;;
  color: rgb(160, 97, 14);

}

.contact h1{
  
  color: rgb(207, 160, 99);
  font-family:cursive;
  font-display:initial ;
  font-size: 3.5em;
  font-weight: bold;

}
.contact h1 span{
  text-decoration:underline;
  color: rgb(206, 157, 93)  ;
}
.contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap:1.2rem;
  align-items: center;
}

.contact .row form{
  flex:1 1 45rem;
  padding:1rem 1.7rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border:.1rem solid rgba(0,0,0,.1);
  background: #fff;
  border-radius: .5rem;
}

.contact .row .image{
  flex:1 1 28rem;
}

.contact .row .image img{
  width: 100%;
}

.contact .row form .box{
  padding:1rem;
  font-size: 1.4rem;
  color:#333;
  text-transform: none;
  border:.1rem solid rgba(0,0,0,.1);
  border-radius: .5rem;
  margin:.5rem 0;
  width: 100%;
}

.contact .row form .box:focus{
  border-color: var(--pink);
}

.contact .row form textarea{
  height: 4rem;
  resize: none;
}
.contact button{
width: 50%;
  padding:11px;
  font-size: 15px;
  border-radius: .5rem;
  background: rgb(247, 213, 119);
  color:black;
  margin-top: 5px;
  cursor: pointer;

}

.contact button:hover{
  background:  rgb(253, 225, 146);
}

 
.footer {
  text-align: center;
}

.footer .logo {
  text-align: right;
  font-size: 2rem;
  color: #512a10;
  font-weight: bold;
}

.footer .credit {
  text-align: end;
  margin: 1rem 0;
  font-size: 1rem;
  text-transform: capitalize;
  color: #222;
}

.footer .credit span {
  text-align: left;
  text-decoration: underline !important;
}

.footer .share {
  margin-top: 3rem;
}

.footer .share a {
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  font-size: 2rem;
  border: 0.1rem solid #512a10;
  color: #512a10 ;
  margin: 0 .3rem;
}

.footer .share a:hover {
  background:#512a10 ;
  color: white; 
}

/*#featured{
  padding: 50px 0px;
  font-size: 50px;
  text-align:center;
}
.wrapper{
  float: left;
  display:flex;
  grid-template-columns: repeat(4,20);
  grid-auto-rows: minmax(200px,auto);
  grid-gap: 1em;
}
.wrapper>div img{
  float:left;

  width: 100px;;
  overflow: hidden;

}*/






 
/*.header{
    min-height: 100vh;
    width: 100%;
    background-image: surl(imgaes/cupcolor1.jpg);
    background-position: center;
    background-size:cover;
    position: relative;*/



body{
    background-color: rgb(255, 255, 255);
  }

h1 {
    font-family:Bradley Hand ITC;
  }

 



 div.gallery {
  margin: 5px;
  border: 4px solid rgb(163, 92, 63);
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 4px solid rgb(255, 187, 40);
}

div.gallery img {
  width: 100%;
  height:max-content;
}

div.desc {
  padding: 20px;
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  color: chocolate;
}