/* src/styles/Header.css */
header {
    width: 100%;
    height: 40vh;
  }
  
  nav {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid sienna;
    box-shadow: 2px 0px 5px saddlebrown;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
  }
  
  .logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
  }
  
  .menu a {
    text-decoration: none;
    font-size: 20px;
    color: burlywood;
    padding: 10px 20px;
    margin: 5px;
    font-weight: bold;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d;
    transform-origin: center;
    perspective: 200px;
  }
  
  .left {
    position: static;
    flex-basis: 50%;
    animation: animate 3s linear infinite;
  }
  
  @keyframes animate {
    0% { transform: scale(1.1); }
    50% { transform: scale(1); }
    100% { transform: scale(1.1); }
  }
  
  .right {
    flex-basis: 80%;
    max-width: 400px;
    margin-left: 100px;
  }
  
  .right h1 {
    font-family: 'Bradley Hand ITC';
    font-weight: bolder;
    margin: 20px 0px;
  }
  
  .right p {
    font-family: 'Avanta Garde';
    font-size: 20px;
    margin: 20px 0px;
  }
  
  .right button {
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    border: none;
    outline: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    cursor: pointer;
  }
  
  .right button:hover {
    background-color: burlywood;
    color: black;
  }