/* src/styles/ProductList.css */
.products .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
  }
  
  .products .box-container .box {
    flex: 1 1 30rem;
    box-shadow: 0 0.4rem 1.5rem rgba(179, 155, 124, 0.226);
    border-radius: 0.5rem;
    border: 0.1rem solid rgba(212, 173, 88, 0.082);
    position: relative;
  }
  
  .products .box-container .box .discount {
    position: absolute;
    top: 1rem;
    left: 1rem;
    padding: 0.7rem 1rem;
    font-size: 2rem;
    color: rgb(177, 129, 67);
    background: rgba(139, 69, 19, 0.185);
    z-index: 1;
    border-radius: 0.5rem;
  }
  
  .products .box-container .box .image {
    position: relative;
    text-align: center;
    padding-top: 2rem;
    overflow: hidden;
  }
  
  .products .box-container .box .image img {
    height: 20rem;
    width: 18rem;
  }
  
  .products .box-container .box:hover .image img {
    transform: scale(1.1);
  }
  
  .products .box-container .box .image .icons {
    position: absolute;
    bottom: -7rem;
    left: 0;
    right: 0;
    display: flex;
  }
  
  .products .box-container .box:hover .image .icons {
    bottom: 0;
  }
  
  .products .box-container .box .image .icons a {
    height: 5rem;
    line-height: 5rem;
    font-size: 2rem;
    width: 50%;
    background: var(--pink);
    color: #fff;
  }
  
  .products .box-container .box .image .icons .cart-btn {
    border-left: 0.1rem solid #fff7;
    border-right: 0.1rem solid #fff7;
    width: 100%;
  }
  
  .products .box-container .box .image .icons a:hover {
    background: rgba(139, 69, 19, 0.185);
  }
  
  .products .box-container .box .content {
    padding: 2rem;
    text-align: center;
  }
  
  .products .box-container .box .content h3 {
    font-size: 2.5rem;
    color: rgb(141, 86, 23);
  }
  
  .products .box-container .box .content .price {
    font-size: 2.5rem;
    color: var(--pink);
    font-weight: bolder;
    padding-top: 1rem;
  }
  
  .products .box-container .box .content .price span {
    font-size: 1.5rem;
    color: rgb(221, 193, 155);
    font-weight: lighter;
    text-decoration: line-through;
  }